.car {
    width: 200px;
    height: 100px;
    background-color: #0e25f1;
    position: absolute;
    left: 150px;
    bottom: 50px;
    animation: drive 3s ease-in-out forwards;
  }
  
  @keyframes drive {
    from {
      left: -200px;
    }
    to {
      left: calc(100vw - 250px);
    }
  }
  
  .car::before, .car::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%; 
    bottom: 10px;
  }
  
  .car::before {
    left: 20px;
  }
  
  .car::after {
    right: 20px;
  }
  